:root{
    --main-color: black;
    --blue-color: rgb(0, 97, 139);
}
aside{
    position: relative;
}
#todo{
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 0; right: -20px;
}
#todo::after{
    content: "open";
    position: absolute;
    top: 20px;
    right: 10px;
}
#todo-form{
    justify-content: center;
    
}
#todo-form input{

}
#todo-list{
    margin-top: 20px;
}
#todo-list li{
    margin-top: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    gap: 30px;
}
#todo-list li button{
    border: 1px solid var(--main-color);
    background-color: transparent;
}