header{
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 80%);
    position: absolute;
    z-index: 10;
    background: white;
    align-items: start;
    justify-content: center;
    position: fixed;
    top: 0;
}
.wrap{
    width: 100%;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
}
figure{
    width: 5%;
}
figure img{
    width: 100%;
}
header .h1{
    width: 10%;
}
.gnb{
    width: 55%;
    justify-content: flex-start;
}
.gnb>li{
    width: calc(90% / 3 - 1rem * 2 / 3);
    padding: 0.5rem;
}
.gnb li:hover a{
    color: navy;
}
.gnb500{
    height: 160px;
}
.gnblnb{
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: 400;
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
}
.profile{
    width: 20%;
}
.profile li{
    margin: 0 0.5em;
    text-align: center;
}