/* :root {
	--background: #005;
	--primary: #88D5BF;
	--secondary: #5D6BF8;
	--third: #e27fcb;
}
@keyframes liquid {
    0%, 100%{
        border-radius: 30% 60% 40% 40% / 50% 60% 50% 70%;
        background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    }
    30%, 70%{
        border-radius: 45% 50% 40% 35% / 45% 45% 40% 50%;
        background: linear-gradient(45deg, var(--secondary) 0%, var(--primary) 50%, var(--secondary) 100%);
    }
    50% {
        border-radius: 60% 40% 70% 30% / 40% 30% 50% 70%;
        background: linear-gradient(45deg, var(--secondary) 0%, var(--primary) 100%);
    }
}


div.p18 {
    animation: liquidoutline 2s infinite;
    position: relative;
}

div.p18::before {
    animation: liquid 5s infinite;
    width: 150%;
    height: 160%;
    content: '';
    position: absolute;
    z-index: -1;
    top: -30%;
    right: -30%;
}
div.p18::after {
    animation: liquid 5s infinite;
    width: 160%;
    height: 150%;
    content: '';
    position: absolute;
    z-index: -2;
    top: -20%;
    right: -30%;
} */
div.p18 canvas {
    position: absolute;
    top: -50px;
    right: -50px;
    bottom: -50px;
    left: -50px;
    z-index: 1;
}