<div id="loginmodal" class="insideBox">
    <button class="close"></button>
    <div class="insideBox p18 border-50px">
        <p>dO yOu wanna help me?<span class="block"></span>lOg-in and create yOur Own page!</p>
    </div>
    <input type="text" class="block p18 border-50px insideBox" placeholder="write your ID">
    <input type="password" class="block p18 border-50px insideBox" placeholder="write your passwords">
    <button type="submit" class="login block p18 border-50px insideBox">l O n - i n ! ! !</button>
    <a href="#">
        <div class="insideBox p18 border-50px">
            <p>O! yOu dOn't sign up? gO right nOw! >>></p>
        </div>
    </a>
  </div>
</div>