<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/modal.css" />
    <link rel="stylesheet" href="../css/tooltips.css" />
    <!-- 900px mediaquery -->
    <link rel="stylesheet" href="../css/media900.css" />
    <!-- googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;400;700&display=swap"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.4.js"
    ></script>
    <title>O-gg</title>
  </head>
  <body>
    <header>
      <div class="wrap flex ha">
        <div id="logo" class="flex">
          <figure>
            <figcaption class="hide">logo</figcaption>
            <img src="../img/egg.svg" alt="#" />
          </figure>
          <a href="main.html" class="block"><h1 class="h2">Oeggs!</h1></a>
        </div>
        <ul class="gnb flex bold textcenter p18">
          <li>
            <a href="#home" class="block"> Home </a>
          </li>
          <li>
            <a href="#about" class="block"> About </a>
          </li>
          <li>
            <a href="#record" class="block"> How to use </a>
          </li>
        </ul>
        <ul class="profile flex">
          <li class="tooltips">
            알람
            <div class="tooltipDown">
              <span class="textcenter">All news for you</span>
              <ul class="tooltipIndex">
                <li><a href="">group news</a></li>
                <li><a href="">그룹에 가입하기</a></li>
                <li><a href="">다른 그룹 구경하기</a></li>
                <li><a href="">네번째 소식</a></li>
                <li><a href="">다섯번째 소식</a></li>
              </ul>
            </div>
          </li>
          <li id="login">로그인/회원가입</li>
          <li class="hide">사진</li>
        </ul>
      </div>
    </header>
    <div id="modal" class="hide">
      <div id="loginmodal" class="insideBox">
        <button class="close"></button>
        <div class="insideBox p18 border-50px">
            <p>dO yOu wanna help me?<span class="block"></span>lOg-in and create yOur Own page!</p>
        </div>
        <input type="text" class="block p18 border-50px insideBox" placeholder="write your ID">
        <input type="password" class="block p18 border-50px insideBox" placeholder="write your passwords">
        <button type="button" class="login block p18 border-50px insideBox">l O n - i n ! ! !</button>
        <a href="#">
            <div class="insideBox p18 border-50px">
                <p>O! yOu dOn't sign up? gO right nOw! >>></p>
            </div>
        </a>
      </div>
    </div>
    </div>
    <main class="head">
      <section id="home" class="ha">
        <div class="flex ha">
          <h2 class="h1 textcenter bold insideBox border-50px">
            cOuld yOu find my O-ggs?<span> </span>fOllOw me!
          </h2>
          <div class="p14 fade">
            <p>당신의 시간과 일정을 기록하는 곳입니다.</p>
            <p>
              기록을 통해 자신만의 무언가를 찾을 수 있길 바라며 만들었습니다.
            </p>
            <p>
              자신의 머리를 찾겠다고 저를 방해한 녀석이 있지만,
              <span class="block"></span>무사히 개발을 마칠 수 있도록 노력하고
              있습니다.
            </p>
            <p>이 공간을 마음껏 활용하시길 바랍니다.</p>
          </div>
          <div class="p18 insideBox border-50px">
            <p>
              O-gg eat cOlOn, alsO my head,<span class="block"></span> please,
              help tO find my head,<span class="block"></span> and be careful
              for writing O-ggs,<span class="block"></span>
              that will eat yOur all cOlOns like me,
            </p>
          </div>
        </div>
      </section>
      <section id="about" class="ha">
        <div class="wrap ha flex">
          <div class="p18 insideBox border-50px textcenter">
            <p>O it's nOt mine! yOu get it! just click me</p>
            <img id="smallegg" src="../img/egg.svg" alt="egg" />
          </div>
          <div class="p14 fade">
            <p>먼저, 자신만의 페이지, 비어있는 공간을 만들어 주세요!</p>
            <p>그 후, 저 녀석을 따라가면서 당신의 공간을 넓혀주세요!</p>
          </div>
          <div class="p14 textright fade">
            <p>물론, 누군가가 자꾸 자신의 머리를 찾으려 하겠지만,</p>
            <p>당신의 무언가는 이미 당신이 가지고 있습니다.</p>
          </div>
          <div class="p14 fade">
            <p>다른 사람과의 공유를 망설이지 말아주세요!</p>
            <p>공유할수록 당신의 공간을 키울 수 있습니다.</p>
          </div>
          <div class="carousel flex">
            <ul class="flex">
              <li id="first" class="insideBox">
                <a href=""></a>
                <p class="hide"></p>
              </li>
              <li class="insideBox">
                <a href=""></a>
                <p class="hide"></p>
              </li>
              <li class="insideBox">
                <a href=""></a>
                <p class="hide"></p>
              </li>
              <li class="insideBox">
                <a href=""></a>
                <p class="hide"></p>
              </li>
              <li id="last" class="insideBox">
                <a href=""></a>
                <p class="hide"></p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="record" class="ha">
        <div class="wrap">
          <div class="p18 insideBox border-50px">
            <p>definitely, i find its O-ggs!</p>
          </div>
          <div class="p14 fade">
            <p>공간을 넓히면서, 기록을 추가하고, 공유하면서</p>
            <p>
              콜론따위로 정의되지 않을,<span class="block"></span>당신의
              무언가를 위해
            </p>
          </div>
          <img src="../img/bigegg.svg" alt="bigegg" id="bigegg" />
          <div class="p18 insideBox border-50px">
            <p>
              what?<span class="block"></span> i never ever give it tO this!
            </p>
          </div>
          <div class="p18 insideBox border-50px">
            <p>i will use O-gg instead of my head!</p>
          </div>
          <div class="p18 insideBox border-50px">
            <p></p>
            whO am i?<span class="block"></span>
            Of cOuse, i'm .... cOlOn! semi cOlOn!
          </div>
          <div class="p14 fade">
            <p>당신의 무언가를 위해서 꾸준히 기록해주세요!</p>
          </div>
        </div>
      </section>
      <section id="final" class="ha">
        <div class="wrap">
          <div class="insideBox border-50px"></div>
          <div class="insideBox border-50px"></div>
          <h2 class="h1 bold insideBox border-50px">
            draw yOur O-ggs!<span class="block"></span>O-ggs are pOtential,
            hOurs, mOments, ... it's yOu!
          </h2>
        </div>
      </section>
    </main>
    <footer w3-include-html="component/footer.html" class="flex">
      <p class="bold">Contact me</p>
      <address>
        <span class="block">email: just_jh30@naver.com</span>
      </address>
      <p>문의하기</p>
    </footer>
    <script src="../js/header.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/carousel.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
