/* for jump link */
@media screen and (min-height: 60px){
    section{
        scroll-margin-top: 80px;
    }
}
#home div.flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home h2.insideBox{
    padding: 60px 0px;
    width: 950px;
}
#home div.p14{
    margin-right: 360px;
    align-self: center;
}
#home div.p18{
    padding: 36px 30px;
    margin-top: 45px;
    margin-right: 80px;
    align-self: flex-end;
}
#about div.wrap{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#smallegg{
    position: absolute;
    z-index: -1;
    left: -30%; top: -100%;
    transform: scale(0.8) rotate(-30deg);
}
#about div.p18{
    align-self: flex-start;
    padding: 36px 24px;
    margin-left: 100px;
    position: relative;
    background-color: white;
}
#about div.p14{
    margin-bottom: 50px;
}
#about div.p14:nth-of-type(2){
    align-self: flex-start;
    margin-left: 130px;
}
#about div.p14:nth-of-type(3){
    align-self: flex-end;
    margin: 40px 0;
}
#about div.p14:nth-of-type(4){
    /* align-self: flex-start; */
    margin-top: 100px;
}
#about div.wrap div.carousel{
    width: 1100px;
    overflow: hidden;
    position: relative;
}
div.carousel button{
    display: block;
    width: 40px;
    height: 300px;
    border: none;
    background: url(../img/prev.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
#about div.wrap div.carousel button.prev{
    z-index: 1;
    position: absolute;
    left: 0;
}
#about div.wrap div.carousel button.next{
    background: url(../img/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position: absolute;
    right: 0;
}
#about ul.flex{
    width: calc((300px + 20px) * 5);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}
#about div.carousel ul li{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
#bigegg{
    position: absolute;
    left: -200px;
    top: -200px;
    z-index: -1;
}
#record div.p18{
    padding: 36px 30px;
    width: 440px;
}
#record div.p18:nth-of-type(1){
    margin-top: 60px;

}
#record div.p18:nth-of-type(3){
    margin-top: 480px;
    margin-left: 300px;
}
#record div.p18:nth-of-type(4){
    margin-left: 400px;
}
#record div.p18:nth-of-type(5){
    margin-top: 500px;
}
#record div.p14{
    margin-left: 30px;
}
#final div.insideBox{
    width: 150px;
    height: 60px;
    margin-left: 400px;
    margin-bottom: 30px;
}
#final div.insideBox:nth-of-type(2){
    width: 220px;
    height: 80px;
    margin-left: 500px;
    margin-bottom: 50px;
}
#final h2.insideBox{
    padding: 60px 40px;
    width: 1100px;
}
#final{
    margin-bottom: 100px;
}
.liquidBox{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 18%, rgba(0,40,125,1) 45%, rgba(0,255,183,1) 92%);
    width: 100%;
}
.fade{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
    transition-delay: 2000;
}
.fadeUp{
    opacity: 1;
    transform: translateY(0);
}