@media screen and (max-width: 1100px){
    header .gnb li{
        width: calc(100% / 3);
    }
    section.wrap.flex{
        flex-direction: column;
        width: auto;
    }
    #bigegg{
        left:-300px;
    }
    #home h2.insideBox{
        width: 100%;
        line-height: 1.2;
    }
    #home h2.insideBox span{
        display: block;
    }
    #about div.wrap div.carousel{
        width: 100%;
    }
    #final h2.insideBox{
        padding: 60px 40px;
        width: 100%;
        line-height: 1.2;
    }
}