#modal .close {
    background-color: transparent;
    border: none;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    align-self: flex-end;
}

#modal input {
    align-self: flex-end;
}

#modal input:focus {
    background-color: #EE9999;
}

#modal .p18 {
    width: 440px;
    padding: 30px;
}

#login {
    cursor: pointer;
}

#loginmodal {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#loginmodal button.login:active {
    background-color: #EE9999;
}

#loginmodal .popup {
    display: block;
    position: fixed;
    z-index: 10;
    top: calc(50% - 700px / 2);
    left: calc(50% - 700px / 2);
    width: 700px;
    height: 700px;
    border-radius: 10px;
}

#signmodal {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#signmodal .popup {
    display: block;
    position: fixed;
    z-index: 19;
    top: calc(50% - 700px / 2);
    left: calc(50% - 700px / 2);
    width: 700px;
    height: 700px;
    border-radius: 10px;
}