<div class="wrap flex ha">
  <figure>
    <figcaption class="hide">logo</figcaption>
    <img src="" alt="#" />
  </figure>
  <h1 class="h1">LOGO</h1>
  <ul class="gnb flex bold textcenter">
    <li>
      HTML
      <ol class="lnb flex">
        <li><a href="" class="block flex">개념</a></li>
        <li><a href="" class="block">태그</a></li>
      </ol>
    </li>
    <li>
      CSS
      <ol class="lnb flex">
        <li><a href="" class="block">우선순위</a></li>
        <li><a href="" class="block">스타일</a></li>
      </ol>
    </li>
    <li>
      Javascript
      <ol class="lnb flex">
        <li><a href="" class="block">개념</a></li>
        <li><a href="" class="block">예제</a></li>
      </ol>
    </li>
  </ul>
  <ul class="profile flex">
    <li class="tooltips">
      소식
      <div class="tooltipDown">
        <span class="textcenter">새로운 소식</span>
        <ul class="tooltipIndex">
          <li><a href="">click 바로가기</a></li>
          <li><a href="">두번째 소식</a></li>
          <li><a href="">세번째 소식</a></li>
          <li><a href="">네번째 소식</a></li>
          <li><a href="">다섯번째 소식</a></li>
        </ul>
      </div>
    </li>
    <li>다섯글자야</li>
    <li class="hide">사진</li>
  </ul>
</div>
