<div class="wrap flex ha">
  <div id="logo" class="flex">
    <figure>
      <figcaption class="hide">logo</figcaption>
      <img src="../img/egg.svg" alt="#" />
    </figure>
    <a href="main.html" class="block"><h1 class="h2">Oeggs!</h1></a>
  </div>
  <ul class="gnb flex bold textcenter p18">
    <li>
      <a href="#home" class="block">
        Home
      </a>
    </li>
    <li>
      <a href="#about" class="block">
        About
      </a>
    </li>
    <li>
      <a href="#record" class="block">
        How to use
      </a>
    </li>
  </ul>
  <ul class="profile flex">
    <li class="tooltips">
      알람
      <div class="tooltipDown">
        <span class="textcenter">All news for you</span>
        <ul class="tooltipIndex">
          <li><a href="">group news</a></li>
          <li><a href="">그룹에 가입하기</a></li>
          <li><a href="">다른 그룹 구경하기</a></li>
          <li><a href="">네번째 소식</a></li>
          <li><a href="">다섯번째 소식</a></li>
        </ul>
      </div>
    </li>
    <li id="login">로그인/회원가입</li>
    <li class="hide">사진</li>
  </ul>
</div>