<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../css/reset.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/index.css" />
<link rel="stylesheet" href="../css/header.css" />
<link rel="stylesheet" href="../css/footer.css" />
<link rel="stylesheet" href="../css/main.css" />
<link rel="stylesheet" href="../css/liquidbox.css">
<link rel="stylesheet" href="../css/movingbox.css" />
<link rel="stylesheet" href="../css/tooltips.css" />
<link rel="stylesheet" href="../css/submit.css" />
<link rel="stylesheet" href="../css/todo.css" />
<!-- 900px mediaquery -->
<link rel="stylesheet" href="../css/media900.css" />
<!-- googlefonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;400;700&display=swap" rel="stylesheet">
<script
  type="text/javascript"
  src="https://code.jquery.com/jquery-3.6.4.js"
></script>
<!-- javscript with jQuery -->
<script src="../js/liquidbox.js"></script>
